/* txt styling */
* {
  font-family: 'Karla', sans-serif, monospace;
  font-size: 1rem;
  color: white;
  font-weight: 400;
}

body {
  background-color: hsl(204, 43%, 93%);
}

.card-title1 {
  color: hsl(179, 62%, 43%);
  font-size: 1.25rem;
  font-weight: 700;
}

.card-title2,
.card-title3 {
  font-weight: 700;
}

.green-txt {
  color: hsl(71, 73%, 54%);
  font-weight: 700;
}

.main-txt {
  color: hsl(218, 22%, 67%);
}

.cost {
  font-size: 1.75rem;
  font-weight: 700;
}

.why-txt,
.month {
  color: hsl(179, 72%, 86%);
}

.box1,
.box2,
.box3 {
  padding: 1.5rem;
}

.box1 {
  background-color: white;
}

.box2 {
  background-color: hsl(179, 62%, 43%);
}

.box3 {
  background-color: hsl(179, 46%, 58%);
}

.button {
  text-decoration: none;
  background-color: hsl(71, 73%, 54%);
  padding: 1rem 5.8rem;
  border-radius: 0.5rem;
}

/* layout styles */
body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

.wrapper {
  max-width: 1440px;
  min-width: 375px;
  margin: auto;
}

.display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 720px));
  margin: 25px;
}

.box1 {
  grid-column: 1 / 3;
}
